py27
*.pyc
local_settings*
*.log
node_modules
bower_components
.coverage
coverage.xml
*,cover
secret.txt

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.mw.history
