body{
    padding-bottom: 50px;
    padding-top: 110px;
}
th {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

td {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.top-message {
     margin-bottom: 15px;
     margin-top: 15px;
}

.container-header {
    text-align: center;
}

.container-header .breadcrumb {
    text-align: left;
}

#viewedText {
    margin-bottom: 20px;
}

.navbar.navbar-fixed-top.nav-hide {
  top: -110px;
  transition: top 0.3s ease-in-out;
}

.navbar.navbar-fixed-top.nav-show {
  top: 0;
  transition: top 0.3s ease-in-out;
}

.navbar.navbar-fixed-bottom.nav-hide {
  bottom: -110px;
  transition: bottom 0.3s ease-in-out;
}

.navbar.navbar-fixed-bottom.nav-show {
  bottom: 0;
  transition: bottom 0.3s ease-in-out;
}

.play-controls {
    width: 108px;
}

.episode-controls {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.episode-row {
    margin-top: 15px;
    text-align: center;
}
