body{
    padding-top: 75px;
    padding-bottom: 100px;
}
@media (min-width: 980px) {
      body {
              padding-top: 75px;
    }
}

@media (max-width: 768px) {
      body {
              padding-top: 75px;
    }
}

#viewedText {
    margin-bottom: 20px;
}

#top-navbar.nav-hide {
  top: -100px;
  transition: top 0.3s ease-in-out;
}

#top-navbar.nav-show {
  top: 0;
  transition: top 0.3s ease-in-out;
}

#bottom-navbar.nav-hide {
  bottom: -100px;
  transition: bottom 0.3s ease-in-out;
}

#bottom-navbar.nav-show {
  bottom: 0px;
  transition: bottom 0.3s ease-in-out;
}

#bottom-navbar.nav-show #bottom-navbar.navbar-text {
    padding-top: 0px;
    padding-bottom: 0px;
}

#bottom-navbar > .container-fluid {
    display: block;
}

.bingeWatchRow {
    margin-bottom: 10px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    width: 20%;
    overflow-y: scroll;
    max-height: 200px;
    overscroll-behavior: none;
}

.nav-link .dropdown-item {
    padding-left: 10px;
}

tbody > tr > td > a, nav > ol > li > a {
    text-decoration: none;
}

tbody > tr > td > a:hover, nav > ol > li > a:hover {
    text-decoration: underline;
}

.navbar-text a {
    text-decoration: none;
}

.navbar-text a:hover {
    text-decoration: underline;
}


#resume-btn:hover, #startover-btn:hover {
    text-decoration: none;
}

#cancel-btn {
    margin-left: 10px;
}

.dropdown-menu {
    width: 20%;
    overflow-y: scroll;
    max-height: 200px;
    overscroll-behavior: none;
}
