<html>
    <link href="/bower_components/waiter.css" rel="stylesheet">
    <link href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">

    <head>
        <link rel="shortcut icon" type="image/png" href="/bower_components/favicon.ico"/>
        {% if title %}
        <title>Alfred - {{title}}</title>
        {% else %}
        <title>Alfred v1.0</title>
        {% endif %}

        <div class="container container-header">
            {% if title %}
            <h1>Alfred - {{title}}</h1>
            {% else %}
            <h1>Alfred v1.0</h1>
            {% endif %}
        </div>
    </head>
    <body>
        <div class="container">
            <div class="well">
                <h4 class="top-message">
                    Follow the links below for streaming
                </h4>
            </div>
            <table id="myTable" class="table table-hover dt-responsive">
                <thead>
                    <tr>
                        <th class="all">Filename</th>
                        {% if not files.0.ismovie and auto_download %}
                            <th class="desktop">Streaming</th>
                            <th class="all">Autodownload</th>
                            <th class="min-tablet-p">Cancel</th>
                        {% else %}
                            <th class="all">Streaming</th>
                        {% endif %}
                        <th class="desktop">Size</th>
                        <th class="desktop">Is Alfred Encoded?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for file in files %}
                <tr>
                    <!-- <td><a class="link" href="{{ file.streamingPath }}">{{ file.filename }}</a></td> -->
                    <td><a class="link" href="#" onclick='cancelClick(this); window.open("{{ file.streamingPath }}", "_blank", "height=600, width=800, resizeable=yes")'>{{ file.filename }}</a></td>
                    {% if file.streamable %}
                    <td>
                        <a class='btn btn-info' name='streaming-btn' id='streaming-btn' onclick='cancelClick(this); window.open("{{ file.streamingPath }}", "_blank", "height=600, width=800, resizeable=yes")'>Stream It!</a>
                    </td>
                    {% else %}
                    <td>
                        Not Streamable
                    </td>
                    {% endif %}
                    {% if not file.ismovie and auto_download %}
                    <td class="autodownloadtext">
                        <span id="countdown" class="timer" onclick="cancelClick(document.getElementById('cancel-btn'))"></span>
                    </td>
                    <td>
                        <a class='btn btn-info' name='cancel-btn' id='cancel-btn' onclick='cancelClick(this)'>Stop Download</a>
                    </td>
                    {% endif %}
                    <td>{{file.size}}</td>
                    {% if file.isAlfredEncoding %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    <div class="hiddenframe">
        <iframe id="download" width="1" height="1" frameborder="0"></iframe>
    </div>
</html>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="/bower_components/bootswatch-dist/js/bootstrap.min.js" %}"></script>
<script src="/bower_components/waiter_v2.js"></script>
<script>
    $(document).ready(function (){
        prepareDataTable($);
        {% if not files.0.ismovie and auto_download %}
            filePath = "{{files.0.path}}";
            setupAutoDownloadCountdown();
        {% endif %}
    });
</script>
