{% extends "display.html" %}
<html>
    <head>
        {% block head %}
            {{ super() }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                {{ super() }}
            {% endblock %}

            {{errorText}}

            {% block main_table %}
            {% endblock %}
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</html>

{% block javascript_includes %}
{% endblock %}

{% block javascript %}
{% endblock %}
