<html>
    <link href="/assets/waiter.css" rel="stylesheet">
    <link href="/bower_components/bootswatch-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <head>
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico"/>
        {% if title %}
        <title>Alfred - {{title}}</title>
        {% else %}
        <title>Alfred v1.0</title>
        {% endif %}

        {% if title %}
        <h1>Alfred - {{title}}</h1>
        {% else %}
        <h1>Alfred v1.0</h1>
        {% endif %}
    </head>
    <body>
        {{errorText}}
    </body>
</html>
