{% extends "display.html" %}
<html>
    <head>
        {% block head %}
            {{ super() }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ super() }}
        {% endblock %}

        {% block jumbotron %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Epic Fail :-(</h1>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        {{errorText}}
                    </div>
                </div>
            </div>

            {% block main_table %}
            {% endblock %}
        {% endblock %}
    </body>
    <footer>
    </footer>
</html>

{% block javascript_includes %}
{% endblock %}

{% block javascript %}
{% endblock %}
