{% extends "display.html" %}
<html>
    <head>
        {% block head %}
            {{ super() }}
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
            {{ super() }}
        {% endblock %}

        {% block jumbotron %}
            {{ super() }}
        {% endblock %}

        {% block body %}
            <div class="container">
                <div id="video-container" class="row">
                    <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered"
                    controls
                    preload="auto">

                    <source src="{{ video_file }}" type="video/mp4" />
                    {% if subtitle_file %}
                        <track id="text1" label="English" kind="subtitles" srclang="en" src="{{ subtitle_file }}">
                    {% endif %}
                    <p class="vjs-no-js">Sorry, your browser doesn't support HTML5 video.</p>
                    </video>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center" id="viewedText"></div>
                    </div>
                </div>
                {% block main_table %}
                    {{ super() }}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>

{% block javascript_includes %}
    {{ super() }}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function (){
            viewedUrl = '{{ viewedUrl }}';
            guid = '{{ guid }}';
            offsetUrl = '{{ offsetUrl }}';
            dirPath = '{{ hashPath }}';
            {% if binge_mode %}
                binge_mode = true;
            {% else %}
                binge_mode = false;
            {% endif %}

            {% if next_link %}
                has_next_link = true;
            {% else %}
                has_next_link = false;
            {% endif %}
            var options = {};

            var player = videojs("video1", options, function onPlayerReady(){
                var myPlayer = this;
                var aspectRatio = 9/16; // Make up an aspect ratio

                function resizeVideoJS(){
                    // Get the parent element's actual width
                    var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                    // Set width to fill parent element, Set height
                    myPlayer.width(width).height( width * aspectRatio );
                }

                resizeVideoJS(); // Initialize the function
                window.onresize = resizeVideoJS; // Call the function on resize

                setupVideoPlayerPage('{{hashPath}}');
                getVideoPosition('{{hashPath}}', guid, this);

                {% if binge_mode and next_link %}
                    this.on('ended', function (){
                        console.log("Redirecting");
                        var next_link = '{{ next_link }}';
                        window.location.href = next_link;
                    });
                {% endif %}

                // Oh man, get ready for the mother of all hacks...
                myPlayer.on('error', function(){
                    myPlayer.dispose();
                    $('#video-container').append(`
                    <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered vjs-flash-fallback"
                    controls
                    preload="auto">

                    <source src="{{ video_file }}" type="video/mp4" />
                    {% if subtitle_file %}
                        <track id="text1" label="English" kind="subtitles" srclang="en" src="{{ subtitle_file }}">
                    {% endif %}
                    <p class="vjs-no-js">Sorry, your browser doesn't support HTML5 video.</p>
                    </video>`);

                    videojs('video1', {'techOrder': ['flash']}).ready(function() {
                        var myPlayer = this;
                        var aspectRatio = 9/16; // Make up an aspect ratio

                        function resizeVideoJS(){
                            // Get the parent element's actual width
                            var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                            // Set width to fill parent element, Set height
                            myPlayer.width(width).height( width * aspectRatio );
                        }

                        resizeVideoJS(); // Initialize the function
                        window.onresize = resizeVideoJS; // Call the function on resize

                        setupVideoPlayerPage('{{hashPath}}');
                        getVideoPosition('{{hashPath}}', guid, this);

                        {% if binge_mode and next_link %}
                            this.on('ended', function (){
                                console.log("Redirecting");
                                var next_link = '{{ next_link }}';
                                window.location.href = next_link;
                            });
                        {% endif %}
                    });
                });
                // Thus endth the hack...



            });

            scrollSetup();
        });
    </script>
{% endblock %}
