{% extends "display.html" %}
{% block body %}
    <div class="container">
        <div id="video-container" class="row">
            <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered"
            controls
            preload="auto">

            <source src="{{ video_file }}" type="video/mp4" />
            {% for subtitle_file in subtitle_files%}
                    <track id="text{{ loop.index }}" label="English-{{ loop.index }}" kind="subtitles" srclang="en" src="{{ subtitle_file }}"/>
            {% endfor %}
            <p class="vjs-no-js">Sorry, your browser doesn't support HTML5 video.</p>
            </video>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center" id="viewedText"></div>
            </div>
        </div>
        <div class="row text-center">
            {% if binge_mode and next_link %}
            <div class="col-1">
            </div>
            <div class="col-4">
                Binge watching is <button class='btn btn-success play-controls' name='bingewatch-btn' id='bingewatch-btn' onclick='toggleBingeWatch();'>Enabled</button>
            </div>
            {% else %}
            <div class="col-4">
            </div>
            {% endif %}
            <div class="col-2">
            </div>
            {% if watch_party_url %}
            <div class="col-4">
                Start a <a href="{{ watch_party_url }}" class='btn btn-success play-controls'>Watch Party!</a>
            </div>
            {% endif %}
            <div class="col-1">
            </div>
        </div>
    </div>

    {% block main_table %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function (){
            viewedUrl = '{{ viewedUrl }}';
            guid = '{{ guid }}';
            offsetUrl = '{{ offsetUrl }}';
            dirPath = '{{ hashPath }}';

            prepareDataTable($);

            {% if binge_mode %}
                binge_mode = true;
            {% else %}
                binge_mode = false;
            {% endif %}

            {% if next_link %}
                has_next_link = true;
            {% else %}
                has_next_link = false;
            {% endif %}
              var options = {
                          techOrder: ['chromecast', 'html5'],
                          chromecast: {
                                      {% if subtitle_file %}
                                          requestSubtitleFn: function(source) {
                                                      return '{{ subtitle_file }}';
                                                  }
                                  {% endif %}
                                },
                          plugins: {
                                      chromecast: {},
                                      mobileUi: {},
                                      airPlay: {},
                                      seekButtons: {
                                                  forward: 10,
                                                  back: 10
                                              }
                                  }
                      };

            var player = videojs("video1", options, function onPlayerReady(){
                var myPlayer = this;
                var aspectRatio = 9/16; // Make up an aspect ratio

                function resizeVideoJS(){
                    // Get the parent element's actual width
                    var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                    // Set width to fill parent element, Set height
                            myPlayer.width(width);
                            myPlayer.height(width * aspectRatio);
                }

                resizeVideoJS(); // Initialize the function
                window.onresize = resizeVideoJS; // Call the function on resize

                setupVideoPlayerPage('{{hashPath}}');
                getVideoPosition('{{hashPath}}', guid, this);

                {% if binge_mode and next_link %}
                    this.on('ended', function (){
                        if(should_redirect){
                            console.log("Redirecting");
                            var next_link = '{{ next_link }}';
                            window.location.href = next_link;
                        }
                    });
                {% endif %}

                // Oh man, get ready for the mother of all hacks...
                myPlayer.on('error', function(){
                    myPlayer.dispose();
                    $('#video-container').append(`
                    <video id="video1" class="video-js vjs-default-skin vjs-big-play-centered vjs-flash-fallback"
                    controls
                    preload="auto">

                    <source src="{{ video_file }}" type="video/mp4" />
                    {% for subtitle_file in subtitle_files%}
                            <track id="text{{ loop.index }}" label="English-{{ loop.index }}" kind="subtitles" srclang="en" src="{{ subtitle_file }}"/>
                    {% endfor %}
                    <p class="vjs-no-js">Sorry, your browser doesn't support HTML5 video.</p>
                    </video>`);

                    player = videojs('video1', {'techOrder': ['chromecast', 'html5']}).ready(function() {
                        var myPlayer = this;
                        var aspectRatio = 9/16; // Make up an aspect ratio

                        function resizeVideoJS(){
                            // Get the parent element's actual width
                            var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
                            // Set width to fill parent element, Set height
                            myPlayer.width(width);
                            myPlayer.height(width * aspectRatio);
                        }

                        resizeVideoJS(); // Initialize the function
                        window.onresize = resizeVideoJS; // Call the function on resize

                        setupVideoPlayerPage('{{hashPath}}');
                        getVideoPosition('{{hashPath}}', guid, this);

                        {% if binge_mode and next_link %}
                            this.on('ended', function (){
                                if(should_redirect){
                                    console.log("Redirecting");
                                    var next_link = '{{ next_link }}';
                                    window.location.href = next_link;
                                }
                            });
                        {% endif %}
                    });
                });
                // Thus endth the hack...

            });

            scrollSetup();
        });
    </script>
{% endblock %}
